 <!-- Banner starts -->
  <div class="container col-md-12 col-xs-3">
        <h1>About Us</h1>
    </div>
<!-- Banner ends -->

<!-- content starts -->
<div class="content">

    <img src="/assets/about.jpg" class="a">
    <img src="/assets/about-1.jpg" class="b">

    <div class="c">
        <h2><span>about</span><br>Ravioli Restaurant</h2><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
           qui officia deserunt mollit anim id est laborum.At vero eos et accusamus et 
           iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
             non provident.
    </div>
</div>
<!-- content ends -->

<!-- About our chefs starts-->
<div class="about">
    <h2> Our Master Chefs</h2><br>
    <div class="blog">
        <img src="/assets/stuff-img-01.jpg" class="imag">
        <div class="blog-content">
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua</p>
               
        </div>
        </div>
        <div class="blog">
            <img src="/assets/stuff-img-02.jpg" class="imag">
            <div class="blog-content">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua</p>
                    
            </div>
        </div>
        <div class="blog">
            <img src="/assets/stuff-img-04.jpg" class="imag">
            <div class="blog-content">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        
            </div>
        </div>
    </div>
<!-- about our chefs ends -->

<!-- costumer reviews starts -->
    <div class="costumers">
        <div class="x">
        <h2> FeedBack From Customers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="y">
            <div class="costumer col-xs-12 col-md-5">
                <div class="image">
                    <img src="/assets/1.png">
                </div>
                <div class="review">
                    <h3>Andrew Adam</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="costumer col-xs-12 col-md-5">
                <div class="image">
                    <img src="/assets/2.png">
                </div>
                <div class="review">
                    <h3>George Richardson</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>
        </div>

        <!-- feedback-form starts-->
        <div class="forms">
            <form class="text-center border border-light p-5" action="#!">
                <p class="h4 mb-4" style="font-size: 40px;">Feedback</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                 <p>  <a href="/about" target="_blank">See the last Feedback</a>        </p>
            
                <!-- Name -->
                <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">
            
                <!-- Email -->
                <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">
            
                <!-- Message -->
                <textarea id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="FeedBack" style="height: 100px;" ></textarea>
            
                <!-- Submit button -->
                <button class="btn btn-info btn-block" type="submit">Submit</button>
            </form>
        </div>
        <!-- feedback-form ends -->

    </div>
    <!-- constumer reviews ends -->
