<!-- Banner starts -->
<div class="container col-md-12 col-xs-3">
    <h1>Our Special Menu
        <a href="/book">
        <button type="button" id="butn1" class="btn btn-primary">Reservation</button></a>
    </h1>
</div>
<!-- Banner ends -->

<!-- Menu Starts -->
<div class="menu">
    <!-- Menu for Breakfast starts -->
        <div class="food">
            <div class="heading">
            <h3>Breakfast</h3>
            </div>
            <div class="blog">
                <img src="/assets/dish1.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                        <button id="butn" >Order Now</button>
                        </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish2.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish3.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div>
        <!-- Menu for Breakfast ends -->

        
        <!-- Menu for Snacks starts -->
        <div class="snacks">
            <div class="heading">
            <h3>Snacks</h3>
            </div>
            <div class="blog">
                <img src="/assets/snacks1.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/snacks2.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/snacks3.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div>

        <!-- Menu for Snacks ends -->

        <!-- Menu for Lunch starts -->
        <div class="Lunch">
            <div class="heading">
            <h3>Lunch</h3>
            </div>
            <div class="blog">
                <img src="/assets/dish4.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish12.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish6.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div>

        <!-- Menu for Lunch ends -->



        <!-- Menu for Supper starts -->
        <div class="supper">
            <div class="heading">
            <h3>Supper</h3>
            </div>
            <div class="blog">
                <img src="/assets/supper.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/supper1.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/supper2.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div>

        <!-- Menu for Supper ends -->

        
        <!-- Menu for Dinner starts -->
        <div class="dinner">
            <div class="heading">
            <h3>Dinner</h3>
            </div>
            <div class="blog">
                <img src="/assets/dish7.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish8.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dish10.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div> 
        <!-- Menu for Dinner ends --> 

        
        <!-- Menu for Dessert starts -->
        <div class="dessert">
            <div class="heading">
            <h3>Dessert</h3>
            </div>
            <div class="blog">
                <img src="/assets/dessert1.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dessert2.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>
            <div class="blog">
                <img src="/assets/dessert3.jpg" class="imag">
                <div class="blog-content">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua</p>
                        <a href="/book">
                            <button id="butn" >Order Now</button>
                            </a>
                </div>
            </div>

        </div>

        <!-- Menu for Dessert ends -->
</div>

<!-- Menu Ends -->

<!-- Quote Starts -->

    <div class="quote" >
        <h2>
            " If you're not the one cooking, stay out of the way and compliment the chef. "
        </h2>
        <span>-Michael Strahan</span>
        
    </div>

<!-- Quote ends -->