
<!-- Google Map APIs Links -->
<link href="https://fonts.googleapis.com" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

<!-- banner starts -->
<div class="container col-md-12 col-xs-3">
    <h1>Contact Us</h1>
</div>
<!-- banner ends -->

<!-- quote starts -->
<div class="consultant">
    <div class="left">
        <p class="n1">Are you Searching For a First-Class Restaurant? </p>
         <p class="n2">  You are at the Right Place!! </p>
    </div>
</div>
<!-- quote ends -->

<!-- embedded map starts -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.8266789664863!2d34.06518051458364!3d34.98600587539338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dfc386d94fdaf7%3A0x71d289b711d1e60c!2sRavioli&#39;s%20Italian%20Restaurant!5e0!3m2!1sen!2sin!4v1604663599493!5m2!1sen!2sin" 
    width="600" width="1330" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- embedded map ends -->

<!-- heading starts -->
    <div class="n7" style="background-color: whitesmoke;margin-top: -2px;padding-top: 20px;">
        <div class="contact__form__text">
            <div class="section-title">
                <h2 style="font-family: serif;font-weight: 600; color: #d65106;font-size: 3em;">Get in touch</h2>
            </div>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <!-- heading ends -->

    <!-- form block starts -->
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50" >
        <div class="wrapper wrapper--w790" >
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">BOOK YOUR TABLE</h2>
                </div>
                <div class="card-body">

                    <!-- forms starts -->
                    <form>
                        <div class="form-row m-b-55">
                            <div class="name" style="padding-top: 50px;">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-5">
                                        <div class="input-group-desc"  style="margin-bottom: -60px;">
                                            <input class="input--style-5" type="text" name="first_name" placeholder="First Name"  >
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc"  style="margin-bottom: -60px;">
                                            <input class="input--style-5" type="text" name="last_name" placeholder="Last Name">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Date of Booking</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="date" name="date">
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="area_code">
                                            <label class="label--desc">Area Code</label>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="phone">
                                            <label class="label--desc">Phone Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Person</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="number">
                                </div>
                            </div>
                        </div>
                
                        <div class="form-row p-t-20">
                            <label class="label label--block">Are you an existing customer?</label>
                            <div class="p-t-15">
                                <label class="radio-container m-r-55">Yes
                                    <input type="radio" checked="checked" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">No
                                    <input type="radio" name="exist">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div>
                             <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                    </form>
                    <!-- form ends -->

                </div>
            </div>
        </div>
    </div>
<!-- form block ends -->
            
       